<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | wklite</title>
    <link rel="stylesheet" href="{{ url('/assets/css/screen.css') }}">
  </head>
  <body>
    <div id="root">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            {% block pageHeader %}
              {% if app.session.has('username') %}
                <div class="page-header">
                  <a href="{{ url('/') }}">Home</a>
                  |
                  <a href="{{ url('/logout') }}">Logout</a> ({{ app.session.get('username') }})
                </div>
              {% endif %}
            {% endblock %}
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
      <div id="root_footer"></div>
    </div>

    <footer id="footer">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            Copyright © {{ 'now'|date('Y') }}
          </div>
        </div>
      </div>
    </footer>

    {% block js %}
      <script src="{{ url('/assets/js/zepto.min.js') }}"></script>
      <script>
        wklite = {
          baseUrl: '{{ app.request.baseUrl }}'
        };
      </script>
    {% endblock js %}
  </body>
</html>
