{% extends 'layouts/main.twig' %}

{% block title 'Oops, error' %}

{% block content %}

<div class="page-body">
  Error {{ code }}<br>
  {{ errorType }}<br>
  {{ exception.message }}
</div>

{% endblock %}
