{% extends 'layouts/main.twig' %}

{% block title 'Home' %}

{% block content %}

<div class="page-body review-count-page">
{% if reviewCount == 0 %}
<h1>You don't have reviews in your queue. Come back later.</h1>
{% else %}
<h1>There are {{ reviewCount }} reviews waiting for you!</h1>
<a href="{{ url('/review') }}" class="btn btn-primary">
  Start review
</a>
{% endif %}
</div>

{% endblock content %}
