{% extends 'layouts/main.twig' %}

{% block title 'Sign in' %}
{% block content %}

<form class="form-horizontal form-signin" method="post" action="{{ url('/login') }}">
  <h2>Sign in</h2>
{% if error is defined %}
  <div class="alert alert-error">{{ error }}</div>
{% endif %}
  <input type="text" name="username" class="input-block-level" placeholder="Username or e-mail" value="{{ username }}">
  <input type="password" name="password" class="input-block-level" placeholder="Password" value="{{ password }}">
  <button type="submit" class="btn btn-large btn-primary">Sign in</button>
</form>

{% endblock content %}
