{% extends 'layouts/main.twig' %}

{% block title 'Review' %}

{% block pageHeader %}
<div class="page-header review-page-header">
  <a href="{{ url('/') }}">Home</a>
  |
  <a href="#" id="reloadQuestion">Reload question</a>
  |
  <a href="{{ url('/logout') }}">Logout</a>
</div>
{% endblock %}

{% block content %}


<div class="page-body review-page" id="reviewArea">
  <img id="loadingIndicator" class="loading-indicator" src="{{ url('/assets/img/loading.gif') }}" style="display:none">

  <div id="status" class="status">
    <span id="progressCompleted" class="progress-completed"></span>
    <span id="progressRest">&nbsp;</span>
  </div>

    <h1 id="character"></h1>
    <h4 id="question" class="question">
      <span></span> <strong></strong>?
    </h4>

    <button id="show" class="btn btn-primary btn-large btn-show">Show</button>

    <h3 id="answer"></h3>

    <div id="answerButtons" class="answer-buttons">
      <h4 class="question">Did you know it?</h4>
      <button id="answerNo" class="btn btn-large btn-danger btn-no">No</button>
      <button id="answerYes" class="btn btn-large btn-success btn-yes">Yes</button>
    </div>

    <button id="showDetails" class="btn btn-large">Details</button>

    <div id="answerDetails" class="answer-details"></div>
</div>

{% endblock content %}

{% block js %}
{{ parent() }}
<script src="{{ url('/assets/js/review.js') }}"></script>
{% endblock js %}
