@import "_bootstrap"
@import "compass/layout/sticky-footer"

+sticky-footer(40px)

$radicalColor: #0093dd
$kanjiColor: #dd0093
$vocabColor: #9300dd

#footer
  text-align: center

.form-signin
  max-width: 300px
  padding: 19px 29px 29px
  margin: 60px auto 20px
  border: 1px solid #e5e5e5
  border-radius: 5px

  .input-block-level
    font-size: 16px
    height: auto
    margin-bottom: 15px
    padding: 7px 9px

.pull-right
  float: right

.page-header
  font-size: 18px

.review-count-page
  text-align: center

  .btn
    margin-top: 20px
    padding: 11px 19px
    font-size: 26px
    border-radius: 6px

.page-header.review-page-header
  margin-bottom: 0

.review-page
  text-align: center

.loading-indicator
  float: left
  margin-top: 4px

.status
  text-align: right

.progress-completed
  color: green

.character
  padding: 15px 0
  color: #fff
  
  img
    max-width: 250px

.vocabulary
  background: $vocabColor

.kanji
  background: $kanjiColor

.radical
  background: $radicalColor

.question
  margin-bottom: 20px
  font-weight: normal

.btn-show
  display: block
  margin: 0 auto 20px

.answer-buttons
  margin-bottom: 20px

.answer-details
  text-align: left

.btn-no, .btn-yes
  width: 100px

.btn-no
  margin-right: 40px
